
.App {
    text-align: center;
}
  
.header {
display: flex; 
justify-content: space-between; 
align-items: center; 
padding: 10px; 
}

.logo, .search-icon {
height: 80px; 
}

.search-container {
display: flex; 
align-items: center; 
}

.search-input {
height: 40px; 
padding: 5px; 
margin-right: 10px; 
width: 400px;
}

.top {
display: flex; 
justify-content: center; 
align-items: center; 
}

.top button {
    height: 60px; 
    width: 200px;
    margin-left: 50px; 
    background-color: #FF8224;
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    font-family: 'omyu_pretty';
    font-size: 25px;
}